html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.p5Canvas {
    transform: translate(-50%, -50%);
    position: relative;
    top: 50vh;
    left: 50vw;
    max-height: 90vh;
    max-width: 90vw;
    width: auto !important;
    height: auto !important;
    /* border: 1px solid black; */
    border-radius: 0.5rem;
}

#cursors .p5Canvas {
    width: 100% !important;
    height: 100% !important;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    position: fixed;
    transform: translate(0, 0);
    left: 0;
    top: 0;
    user-select: none;
    pointer-events: none;
    z-index: 100;
}

.sketchparent {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin-top: 2rem;
}

#dropzone {
    border: 1px dashed #00f;
    border-radius: 0.5rem;
    padding-inline: 1rem;
    margin-bottom: 1rem;
}

#dropzone p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

input[type="file"] {
    margin-top: 1rem;
    margin-bottom: 0;
    font-family: "Spline Sans Mono", monospace;
}

label {
    display: flex;
}

span {
    margin-bottom: 0 !important;
    margin-left: 0.5rem;
}